#choose {
  text-align: center;
}

#loanBalance {
  text-align: center;
}

#percentRate {
  text-align: center;
}

#yearsLeft {
  text-align: center;
}

#calc {
  margin: auto;
  display: block;
}

#mainHeader {
  font-family: 'Cinzel', serif;
  text-align: center;
}

body {
font-family: 'Cinzel', serif;
  background-color: green;
  color: white;
}
